*{
  box-sizing: border-box;
}
body{
  background-image: url("../img/bg1.jpg");
}
.time{
  width: 100px;
  height: 5px;
  margin: 0 auto;
}

#myProgress {
    width: 100%;
    background-color: grey;
}
#myBar {
    width: 1%;
    height: 30px;
    background-color: green;
}

.wrap{
  width: 100%;
  height: 600px;
}
.content{
  height: auto;
  margin-left: 60px;
}
.grid{
  float: left;
  width: 110px;
  height: 150px;
  margin: 20px;
}
.card{
  position: relative;
}

.card .front{
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
}

img{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.card:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.5s;
}
.flipped .back{
  transform: rotateY(180deg);
}
.flipped .front{
  transform: rotateY(0deg);
}

.card .front, .card .back{
  transition: all 0.5s;
  backface-visibility: hidden;
}
