.blog-content{
  margin-top: 100px;
  color: #000;
}
.blog-content p{
  color: #000;
}
.blog-content h3{
  color: green;
}
.menu-blog>li{
	width: 100%;
  border-bottom: 1px solid #eee;
}
.menu-blog>li.active>a, .menu-blog>li.active>a:hover, .menu-blog>li.active>a:focus, .menu-blog>li.checked {
    color: #555;
    cursor: default;
    background-color: #fff;
		border-top: #fff;
		border-right: #fff;
    border-left: #fff;
    background-color: #eee;
		font-weight: bold;
}
#home img{
  width: 100%;
  height: 343px;
}
#menu1 img{
  width: 100%;
  height: 343px;
}
